<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>tpninja.TpNinjaTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>forgottenPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>nonDisponible</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PasserCommande</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>registerDoubleCompte</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>registerNewsletter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>research</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>register</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
