<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e98b7c">  <td>21/09/17 03:06:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TpNinjaTest.nonDisponible()[pri:0, instance:tpninja.TpNinjaTest@429bffaa]">nonDisponible</td> 
  <td>main@1876682596</td>   <td></td> </tr>
<tr bgcolor="e98b7c">  <td>21/09/17 03:06:17</td>   <td>-10877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TpNinjaTest.login()[pri:0, instance:tpninja.TpNinjaTest@429bffaa]">login</td> 
  <td>main@1876682596</td>   <td></td> </tr>
<tr bgcolor="e98b7c">  <td>21/09/17 03:06:44</td>   <td>16325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TpNinjaTest.registerDoubleCompte()[pri:0, instance:tpninja.TpNinjaTest@429bffaa]">registerDoubleCompte</td> 
  <td>main@1876682596</td>   <td></td> </tr>
<tr bgcolor="e98b7c">  <td>21/09/17 03:06:11</td>   <td>-16931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TpNinjaTest.forgottenPassword()[pri:0, instance:tpninja.TpNinjaTest@429bffaa]">forgottenPassword</td> 
  <td>main@1876682596</td>   <td></td> </tr>
<tr bgcolor="e98b7c">  <td>21/09/17 03:06:50</td>   <td>22337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TpNinjaTest.registerNewsletter()[pri:0, instance:tpninja.TpNinjaTest@429bffaa]">registerNewsletter</td> 
  <td>main@1876682596</td>   <td></td> </tr>
<tr bgcolor="e98b7c">  <td>21/09/17 03:05:30</td>   <td>-57804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TpNinjaTest.PasserCommande()[pri:0, instance:tpninja.TpNinjaTest@429bffaa]">PasserCommande</td> 
  <td>main@1876682596</td>   <td></td> </tr>
<tr bgcolor="e98b7c">  <td>21/09/17 03:05:28</td>   <td>-59633</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TpNinjaTest.setUp()[pri:0, instance:tpninja.TpNinjaTest@429bffaa]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1876682596</td>   <td></td> </tr>
<tr bgcolor="e98b7c">  <td>21/09/17 03:06:56</td>   <td>28658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TpNinjaTest.research()[pri:0, instance:tpninja.TpNinjaTest@429bffaa]">research</td> 
  <td>main@1876682596</td>   <td></td> </tr>
<tr bgcolor="e98b7c">  <td>21/09/17 03:06:33</td>   <td>4922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TpNinjaTest.register()[pri:0, instance:tpninja.TpNinjaTest@429bffaa]">register</td> 
  <td>main@1876682596</td>   <td></td> </tr>
<tr bgcolor="e98b7c">  <td>21/09/17 03:07:01</td>   <td>33736</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TpNinjaTest.tearDown()[pri:0, instance:tpninja.TpNinjaTest@429bffaa]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1876682596</td>   <td></td> </tr>
</table>
